body {
  background-color: rgb(87, 209, 240);
  margin: 0px;
}

.mainDiv {
  background-color: aqua;
  box-shadow: 5px 5px black;
  border-radius: 12px;
  display: block;
  width: 49%;
  height: 10%;
  margin: 10px auto;
  padding: 1px;
  border: 2px solid white;
}

/* language box */
.langBox {
  display: inline-block;
  background-color: rgb(180, 17, 112);
  /* box-shadow: black; */
  border-radius: 12px;
  border: 4px solid white;
  /* width: 50%; */
  width: 100px;
  height: 50px;
  padding: 5px;
  margin: 25px;
  text-align: center;
  color: white;
  vertical-align: middle;
}

h1 {
  color: rgb(50, 17, 236);
  text-align: center;
  margin: 10px auto;
}

h3 {
  color: white;
  text-align: center;
  margin: 0px;
  /* margin: 10px auto; */
}

.displayDiv {
  background-color: aqua;
  /* box-shadow: 10px 10px gray; */
  border-radius: 12px;
  display: block;
  width: 18%;
  height: 40%;
  margin: 10px auto;
  padding: 1px;
  border: 2px solid white;
}

.intoduction {
  background-color: aqua;
  /* box-shadow: 3px 3px black; */
  display: block;
  margin: 10px auto;
  border: 2px solid white;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  color: rgb(50, 17, 236);
  height: 350px;
  width: 70%;
  border-radius: 12px;
  padding: 25px;
}

.myFooter {
  color: white;
  width: 100%;
  height: 25px;
  background-color: black;
  vertical-align: middle;
  padding: 10px;
  border: 2px solid white;
}

.myHeader {
  color: white;
  width: 100%;
  height: 25px;
  background-color: black;
  vertical-align: middle;
  padding: 10px;
  border: 2px solid white;
}
